<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <title>Laser Targeter</title>
</head>
<body>
    <header class="component">
        <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
    </header>
    <main class="component flexContainer">
        <img class="video" src="/video_feed" alt="video">
        <a href="/move/X/pos/0.1">X+</a>
        <a href="/move/X/neg/0.1">X-</a>
        <a href="/move/Y/pos/0.1">Y+</a>
        <a href="/move/Y/neg/0.1">Y-</a>
    </main>
</body>
</html>